:root {
  --maincolor: #252525;
  --secondcolor: #ffcf40;
  /* #  FFD195*/
  --scrollbar: #999999;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*#region SCROLL BAR*/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) var(--maincolor);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--maincolor);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 20px;
  border: 3px solid var(--maincolor);
}
/*#endregion SCROLL BAR*/

/**/
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--secondcolor);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "hot_resturant", cursive;
  font-size: 50px;
  font-weight: 100;

  /* line-height: 25px; */
}

@font-face {
  font-family: "hot_resturant";
  src: local("hot_resturant"),
    /* url('fonts/Hot Restaurant.eot?#iefix') format('embedded-opentype'),
         url('fonts/Hot Restaurant.woff') format('woff'), */
      url("fonts/Hot Restaurant.ttf") format("truetype"),
    url("fonts/Hot Restaurant.svg#hot_resturant") format("svg");
  font-weight: normal;
  font-style: normal;
  font-strecht: condensed;
  unicode-range: "U+0-10FFFF";
}

@font-face {
  font-family: "Satisfy";
  src: local("Satisfy"),
    /* url('fonts/Satisfy-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Satisfy-Regular.woff') format('woff'), */
      url("fonts/Satisfy-Regular.ttf") format("truetype"),
    url("fonts/Satisfy-Regular.svg#Satisfy") format("svg");
  font-weight: normal;
  font-style: normal;
  font-strecht: condensed;
  unicode-range: "U+0-10FFFF";
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 4px solid #f3f3f3;
  /* border-top: 3px solid #f25a41; */
  border-top: 3px solid var(--maincolor);
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editlink {
  background-color: #25221e;
  border-radius: 50%;
  color: var(--secondcolor);
  border-radius: 50%;
  height: 90px;
  width: 90px;
  position: fixed;
  right: 20px;
  top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: Hot H, Quicksand, sans-serif;
  font-weight: 600;
  transform: rotate(12deg);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#special_component {
  width: 100%;
  background-color: var(--secondcolor);
  margin: 0 auto;
}

.specials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.specials-container table {
  width: 90%;
  margin: 0px auto;
  table-layout: fixed;
  border-collapse: collapse;
}

.specials-table-container {
  max-width: 1500px;
  margin: 40px auto;
}

.menuStyle {
  background-color: #ffe6d1;
  color: #000;
}

.nameandprice td {
  padding: 1em 0 0 0;
  vertical-align: bottom;
  background-image: radial-gradient(black 1px, transparent 0px);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.nameandprice th {
  padding: 1em 0 0 0;
  vertical-align: bottom;
}

.nameandprice span {
  /* background-color: #fff; */
  background-color: var(--secondcolor);
}
.nameandprice th:first-child {
  text-align: left;
  font-weight: 700;
  font-size: 20px;
}

.nameandprice td:first-child {
  text-align: left;
  font-weight: 700;
  font-size: 20px;
}

.nameandprice td:first-child span {
  padding-right: 0.25em;
}

.nameandprice td:last-child {
  text-align: right;
  width: 3em;
  font-size: 20px;
}

.description td {
  text-align: left;
  padding: 8px 0px 15px 15px;
}

td:last-child span {
  padding-left: 0.25em;
}

@media (min-width: 992px) {
  .specials-container table {
    margin: 40px;
    width: 45%;
  }

  .specials-table-container {
    display: flex;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 500px) {
  .editlink {
    right: -20px;
    top: -15px;
  }
}
